/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do Calendário */
.calendar-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calendar-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.calendar {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day, .empty {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #24a039; /* Verde padrão */
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.day:hover {
    background-color: #45a049; /* Tom mais claro para hover */
}

.holiday {
    background-color: #e74c3c; /* Vermelho para feriados */
    font-weight: bold;
}

.legend {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
}

.legend h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

.legend p {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

.legend-box.holiday {
    background-color: #e74c3c;
}

/* Tela inicial */


.pagina-inicial-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.pagina-inicial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #000;
}

.pagina-inicial-header h1 {
    font-size: 2rem;
}

.pagina-inicial-user-info {
    flex-grow: 1;
    margin-left: 20px;
}

.pagina-inicial-user-info p {
    font-size: 0.9rem;
}

.pagina-inicial-logout {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.pagina-inicial-logout:hover {
    background-color: #e60000;
}

.pagina-inicial-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
    height: 100%;
    width: 75%;
    margin: auto;
}

.pagina-inicial-card {
    background-color: #ddd;
    color: #000;
    text-decoration: none;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagina-inicial-card:hover {
    background-color: #bbb;
    cursor: pointer;
}